checkpoints
cross_tiling.py
finetune-all.sh
finetune-u-net-2.sh
full_split_512
full_split_512_
full_split_512_munich
network_results.csv
object_size.py
object_sizes.py
predict-u-net.sh
segmentation_dataset
segmentation_dataset_adden_2
segmentation_dataset_adden_2.h5
segmentation_dataset_all_cohorts.h5
segmentation_dataset.h5
segmentation_dataset_munich
segmentation_dataset_munich.h5
segmentation_dataset_munich_smaller
segmentation_dataset_munich_transformed.h5
segmentation_dataset_transformed.h5
segmentation_to_h5py.py
segmentation_WBC
seg_train
seg_truth
split_512
split_572
summaries
summaries_2
test-all-finetune.sh
test-all.sh
testing_set
testing_set_files
test_output
test_results_unet_full_.csv
test_results_unet_full.csv
test-u-net-3-classes.sh
training_set
training_set_files
training_set_files_adden_2
train-u-net-3-classes.sh
train-u-net-hdf5-all-cohorts.sh
train-u-net-no-aug.sh
train-u-net.sh
trial-u-net.sh
truth
